.vignetteFavorite {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
}
#section-cardFavorite {
  display: flex;
  justify-content: center;
}
.favoriteWrap {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-left: 1rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

article.articleVignetteFavorite:nth-child(n)
  > div:nth-child(n)
  > button:nth-child(n) {
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
#section-cardfavo {
  margin-left: 3rem;
  margin-right: 3rem;
}
