@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%22");

* {
  box-sizing: border-box;
}

.footer {
  display: inline;
  background-color: #ffaf00;
  width: 100%;
  font-family: "Pacifico";
  bottom: 0;
  position: absolute;
}

.copyright {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}
