@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

.footer {
  background-color: var(---background-second-color-transparent);
  width: 100%;
  font-family: "Overpass";
  bottom: 0;
  display: flex;
  padding: 0.8rem 0 0rem 0;
  flex-direction: column;
  align-items: center;
}
.mention p {
  font-weight: 600;
}

.copyright p {
  font-size: 0.7rem;
}
