@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

.footer {
  background-color: #ffaf00;
  width: 100%;
  font-family: "Overpass";
  bottom: 0;
}

.copyright {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}
