@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.displayNone {
  display: none;
  margin: auto;
}

.display {
  width: 100%;
  height: 100vh;
  background-color: #777;
  background-image: url(/src/assets/banner-wall.jpg);
  background-size: cover;
  background-position: center;
  line-height: var(---line-heigth--p);
  background-blend-mode: multiply;
  text-align: center;
  padding-top: 4%;
  z-index: 100;
  position: fixed;
}

.display > img {
  width: 300px;
  height: auto;
  margin: 30px auto 0px auto;
}

.btn {
  /*background-color: #f19e50c7;*/
  background-color: transparent;
  color: white;
  font-size: 40px;
  border-radius: 1rem;
}

.btn:hover {
  border-color: var(---font-color-light);
  border-width: 2px;
}

@media screen and (max-width: 400px) {
  .btn {
    display: inline-block;
    max-width: 35%;
    max-height: 40px;
    margin: auto;
  }
}
