.navigation {
  background: #ef8c16;
}
.navigation-bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 2%;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  .navigation {
    width: 100%;
  }

  .navigation-name {
    margin-left: 10%;
  }
}
