.navigation {
  background: #ef8c16;
}
.navigation-bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 2%;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-bar {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .navigation-name {
    margin-left: 10%;
    line-height: 1.2;
  }
}
