.popularcocktail-title {
    background-color: var(---background-first-color);
    color: var(---font-color-light);
    margin: 0;
    padding: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}