.btn {
  width: 20%;
  background-color: white;
}
.image-logo {
  width: 20px;
}
.input {
  width: 80vw;
}
.searchbar {
  width: 80vw;
  display: flex;
  justify-content: center;
}
.full-searchbar {
  display: flex;
  justify-content: center;
  background: #ef8c16;
  padding-bottom: 2rem;
  
}

@media screen and (min-width: 768px) {
  .full-searchbar {
    display: flex;
    justify-content: flex-end;
    
  }
  .searchbar {
    width: 40vw;
    margin-right: 3%;
  }
}
