.cocktailContainer {
  background-color: var(---background-first-color);

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 1rem;
}
.ingredients {
  margin: 1.5rem 0 1.5rem 0;
  padding: 1rem 0 1rem 0;
  background-color: var(---background-third-color);
  width: 35vh;
  border-radius: var(---border-radius);
}
.row {
  height: 0.1rem;
  width: 20%;
  margin: auto;
  background-color: #ffaf00;
}
.recipe {
  margin: 1rem;
  text-align: left;
}

ul {
  margin: 0;
  list-style-type: square;
  text-align: left;
  line-height: var(---line-height--ul);
}

h2 {
  margin: 0 0 0.8rem 0;
}
p, ul{
  font-size: var(---font-size--p);
}
img {
  width: 100%;
}
p{
  line-height: var(---line-height--p);
}

@media screen and (min-width: 400px) {
  .cocktailContainer {
    
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .drinkName {

    width: 96%;
    text-align: left;
  }
  .ingredients {
    margin: 1.5rem 0 1.5rem 0;
    padding: 2rem 0 2rem 0;
    background-color: var(---background-third-color);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: none;
  }
  
  ul {
    margin: 0;
    list-style-type: square;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0 0 0.8rem 0;
  }

  .cocktailContainer > img {
    min-width: 40%;
    max-width: 40%;

    height: auto;
  }
}
