.cocktailContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 2rem 0 0 0;
  color: var(---font-color-light);
}

.fav {
  color: var(---font-color-light);
  text-align: right;
  margin-bottom: 1rem;
}
button {
  font-size: 2rem;
  background-color: transparent;
  border: 0;
}
.fa-regular{
  color: red;
}

.ingredients {
  margin: 2.5rem 0 1.5rem 0;
  padding: 2rem 0 2rem 0;
  background-color: var(---background-second-color-transparent);
  width: 60%;
  border-radius: var(---border-radius);
  align-self: center;
  align-content: center;
  text-align: center;
}
.row {
  height: 0.1rem;
  width: 20%;
  margin: auto;
  margin-bottom: 0.7rem;
  background-color: var(---background-second-color);
}
.recipe {
  background-color: var(---background-second-color-transparent);
  border-radius: var(---border-radius);
  padding: 2rem;
  margin: 1rem;
  text-align: left;
}

ul {
  margin: 0;
  list-style-type: none;
  text-align: center;
  line-height: var(---line-height--ul);
}

h2 {
  margin: 0 0 0.8rem 0;
}

img {
  width: 100%;
}
p {
  line-height: var(---line-height--p);
}

@media screen and (min-width: 378px) {
  .cocktailContainer {
    margin: var(---marginTablet);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fav {
    margin: 0;
    align-self: flex-end;
  }
  .drinkName {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .ingredients {
    margin: 0;
    min-width: 10%;
    height: auto;
  }
  .cocktailContainer img {
    border-radius: var(---border-radius);
    max-width: 30%;
    height: auto;
    margin-top: 2vh;
    align-self: center;
  }
  .recipe {
    margin: 0;
    margin-top: 3rem;
  }

  .row {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .cocktailContainer {
    margin: var(---marginDesktop);
  }
} ;
