@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;1,100&display=swap");

:root {
  ---background-first-color: #06070e;
  ---background-second-color: #ffaf00;
  ---background-third-color: #2b2c2fc1;
  ---background-fourth-color: ;
  ---background-fifth-color: ;

  ---font-color-light: #fbeeee;
  ---font-color-dark: #1c1c1c;

  ---fontsize--nav: clamp(1rem, 2.3vw, 1.5rem); /* A modifier */
  ---fontsize--h1: clamp(1.5rem, 2vw, 2rem);
  ---fontsize--h2: clamp(1.2rem, 1vh, 1.5rem);
  ---font-size--p: clamp(1rem, 1vh, 1.5rem);

  ---line-height--ul: 3rem;
  ---line-height--p: 1.5rem;

  ---font-family: "Overpass", sans-serif;

  ---border-radius: 0.5rem;
  ---box-shadow: -10px 9px 29px -9px rgba(74, 74, 74, 0.87);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(---font-family);
  color: var(---font-color-light);
  scroll-behavior: smooth;
}

h1 {
  font-size: var(---fontsize--h1);
}
